.StudentItem__row{
 
    background-color:white;
    border-top:1px solid #dbd7d7;
    border-bottom: 1px solid #dbd7d7;
}
.studentNameAndInfo{
    margin-top:5px;
    margin-left: 40px;
    margin-bottom: 20px;
    display: inline-block;
    font-family: 'Raleway';
    font-size: 16px;
}

.studentInfo{
    margin-left:20px;
    color: #b0adac
}
.studentPic{
    margin-top:5px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.Pic {
   
    border-radius: 50%;
   width:120px;
   border:1px solid #b0adac;
}