.studentList {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
   /* overflow-y: scroll;*/
   
   /* height:100vh;*/
}

.nameFilter{
    margin-left: 40px;
  
    width:100%;
}

.tagFilter{
    margin-left: 40px;
  
    width:100%;
}
.StudentList__list {
    list-style-type: none;
    border-radius: 25px;
    margin-top: 0;
}